<div class="jumbotron text-center">
		<h1>Welcome to myRecipes App</h1>
		<h2>This is the website for the Ruby on Rails udemy course.</h2>
		<%= link_to "Register Now", new_chef_path, class: "btn btn-lg btn-success" %>
</div>

<div class="row text-left">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h3>View Recipes as Guest User</h3>
		<p>Browse and view recipes as a guest. Sign up later!<p>
		<%= link_to "View Recipes", recipes_path, class: "btn btn-small btn-warning" %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h3>Add a New Recipe</h3>
		<p>Add a new recipe and share it with the community!<p>
		<%= link_to "New Recipe", new_recipe_path, class: "btn btn-small btn-warning" %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<h3>Already Registered?</h3>
		<p>Login now to add to your collection and get involved with the community!<p>
		<%= link_to "Log In", "", class: "btn btn-small btn-warning" %>
	</div>
</div>
