<%= render 'layouts/page_title', title: "#{@style.name.capitalize} Recipes" %>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Recipes</a></li>
  <li role="presentation"><%= link_to 'Chefs', chefs_path %></li>
</ul>
<div class="text-center">
	<%= will_paginate @recipes %>
</div>

<%= render @recipes %>