@import "bootstrap-sprockets";
@import "bootstrap";

.footer {
	margin-top: 25px;
	padding-top: 20px;
	border-top: 1px solid #eaeaea;
}

.gravatar {
	border-radius: 10px;
}

.wrap-break{
	word-wrap: break-word;
}

.nav-offset{
	margin-top: 8px;
}

textarea{
	resize: none;
}

#navbar-login{
	margin-left: 5px;
}
